.md-main__inner {
    margin-top: 0;
}

.md-content,
.md-sidebar .md-sidebar__scrollwrap {
    padding-top: 0.5rem;
    padding-bottom: 4rem;
}

.md-header__button>img {
    filter: invert(100%);
}

.md-header__ellipsis {
    display: none;
}

.md-header {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}